/* src/pages/Home.css */
.home-container {
    padding: 2rem 0; /* Add vertical padding */
    padding-left: 2rem; /* Ensure there's horizontal padding on the left */
  }
  
  .home-container h1 {
    font-family: 'Inter', sans-serif;
  }