.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E0E0E0; 
}

.App-link {
  color:  #76a9fa;
}

.App-link:visited {
	  color: #76a9fa;
	  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #191b1c;
  color: #E0E0E0;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.header nav ul li a, .header nav ul li a:visited {
	text-decoration: none; /* Removes underline */
	color: #76a9fa; /* Example: Adjust this color as needed */
 }
 
