.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: var(--background-color);
  color: #333;
  text-align: center;
  margin: 0;
}

.not-found-heading {
  font-size: 4rem;
  margin: 0;
}

.not-found-paragraph {
  font-size: 1.5rem;
  margin: 20px 0;
}

.not-found-link {
  display: inline-block;
  font-weight: bold;
  background-color:var(--primary-color); 
  color: var(--background-color);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 15px 40px;
  border-radius: 8px;
  transition: var(--background-color) 0.3s ease; 
}

.not-found-link:hover {
  background-color: #333; 
}