@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Racing+Sans+One&family=Covered+By+Your+Grace&display=swap');

body {
  background-color: #181A1B; /* Dark mode grey */
  color: white; /* Ensure text is visible on dark background */
  font-family: 'Inter', sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  padding: 1rem 2rem;
  background: #CE0018;
  font-family: 'Inter', sans-serif;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 0.5rem; 
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Covered By Your Grace', cursive; /* Apply Covered By Your Grace to logo */
  font-weight: bolder;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Racing Sans One', sans-serif; /* Apply Racing Sans One to links */
}

.navbar-links a:hover {
  text-decoration: underline;
}