.home-container {
  text-align: left;
  padding-left: 100px;
  padding-bottom: 40px;
  user-select: none;
}

.icon-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: flex-start;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

.description {
  max-width: 700px;
  margin: 20px 0;
  font-size: 25px;
  line-height: 1.5;
}

.section-header {
  margin-bottom: 0;
}

.skills-categories {
  padding-left: 25px;
  user-select: none;
}

.skills-category {
  margin-bottom: 40px;
}

.skills-category h3 {
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skill-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  width: calc(100% - 100px); /* Accounting for home-container padding-left */
  padding: 0;
}