
.home-container {
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  user-select: none;
}

.icon-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: flex-start;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none; /* Prevent highlighting */
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth hover effect */
}

.icon:hover {
  transform: scale(1.2); /* Slightly increase size on hover */
  filter: brightness(1.2); /* Slightly brighten the icon */
}

.description {
  max-width: 700px; /* Limit the width of the paragraph */
  margin: 20px 0; /* Remove horizontal centering and keep space above */
  font-size: 25px; /* Adjust font size for readability */
  line-height: 1.5; /* Improve line spacing */
}

.section-header {
  margin-bottom: 70px; /* Adds consistent spacing between sections */
}

.skills-categories {
  padding-left: 25px; /* Add indentation for all categories */
  user-select: none; /* Prevent highlighting */
}

.skills-category {
  margin-bottom: 40px; /* Space between categories */
}

.skills-category h3 {
  font-size: 25px;
  margin-bottom: 20px; 
  color: var(--primary-color); /* Adjust for visibility */
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Space between icons */
}

.skill-icon {
  width: 70px; /* Ensure all icons are the same size */
  height: 70px;
  object-fit: contain;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  margin-top: 20px; /* Space above the grid */
  justify-content: flex-start; /* Align cards to the left */
}